*{
    box-sizing: border-box;
}
.simple-bg{
    width: 1600px;
    height: 1200px;
    margin: 0 auto;
    background-color: yellow;
    /* background-image: url("../img/avatar.png"),url("../img/1.webp"); */
    background-image: url("../img/avatar.png");
    /* background-color: yellow; */
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-position: top 200px left 200px; */
    /* background-position: bottom 200px left 240px; */
    /* background-position: bottom 200px right 200px; */
    /* background-position: bottom center; */
    /* background-position:center; */
    /* background-size: contain; */
    /* background-size: cover; */
    background-size: 200px;
}
.simple-bg:hover{
    /* background-color: yellow; */
}
.hover-bg:hover{
    background-color: white;
}
.hover-bg:hover img{
    width: 100px;
}
.hover-bg:hover h3{
    color: red;
}
.fb{
    width: 84px;
    height: 84px;
    border: none;
    display: block;
    margin-bottom: 50px;
    background-image: url('../img/sprite-icon-29.jpg');
    background-position: top 0 left 0;

}
.fb:hover{
    background-position: top -84px left 0;
}
.fb.disabled-icon{
    background-position: top -168px left 0;
}